- if params[:mode] == :legacy
  = render 'legacy'
- else
  - id ||= rand(6) + 1
  .alert
    = image_tag 'design.png'
    NEW! The output image size limit has just increase from 1024px to 2048px!
  .intro
    .left
      .picture= image_tag "demo#{id}.jpg"
      .drop-here
        %h2 Try it now!
        %p
          Drop your own picture here
          %br
          or use the
          = link_to 'legacy upload form', legacy_path
    .middle.demo
    .right
      .picture= image_tag "demo#{id}-soft.jpg"
