- if params[:mode] == :legacy
  = render 'legacy'
- else
  - id ||= rand(6) + 1
  .intro
    .left
      .picture= image_tag "demo#{id}.jpg"
      #dropbox You can drop now
      %progress#progress{:max => 100, :value => 60}
      .drop-here
        %h2 Try it now!
        %p
          Drop your own picture here
          %br
          or use the
          = link_to 'legacy upload form', legacy_path
    .middle.demo
    .right
      .picture= image_tag "demo#{id}-soft.jpg"
