!!!
%html
%head
  %title SoftFocus
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700,200', "application", :media => "all"
  = javascript_include_tag "application"
  = favicon_link_tag "/favicon.png"
  = csrf_meta_tags
%body
  %section#main
    %section#head
      %header
        %h1
          = link_to raw("<em>Soft</em>Focus"), "/"
        %p Turn your pictures into art, it's dead-simple!
    %div.content= yield
  %section#misc
    %div.content= render 'shared/misc'
    %footer
      Designed, built & hosted by 
      = link_to 'Adrien Jarthon', 'http://adrienjarthon.com'
